# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# Data and Models (Very important for ML)
data/*
!data/**/.gitkeep
!data/raw/
!data/raw/*
models/*.pkl
models/*.h5
models/*.joblib
models/*.pt
models/*.onnx

# Exploration temporária
exploration/
Fake
True

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
